src/clip_img_embedder
src/processor
src/clip_text_model
src/diffusion_engine
raw/
src/eval_downloads/
src/evals/
rt_python/masks
rt_python/generative_models
rt_python/fine_tuned_model
rt_python/data
*DS_Store
__pycache__/
*.py[cod]
*$py.class
Untitled.ipynb
.ipynb_checkpoints/
Train (2).ipynb
Train (2).py
Train.ipynb
accel-more-train.slurm
accel-multi-3subj.slurm
accel-multi-batch.slurm
accel-ses-03.slurm
debug/
enhanced_recon_inference-ses-03.ipynb
enhanced_recon_inference.py
enhanced_recon_inference_orig.ipynb
enhanced_recon_inference_orig.py
evals/
figures/
final_batch_evals.ipynb
final_evaluations-ses-03.ipynb
final_evaluations.py
final_evaluations_orig.ipynb
final_evaluations_orig.py
main-more-train.ipynb
main-more-train.py
main-multisession-3subj.ipynb
main-multisession.py
main-multisession_old.ipynb
main-multisession_old.py
main-ses-03.ipynb
main-ses-03.py
main.py
masks/
orig_main.ipynb
orig_main.py
recon_inference-multisession-simple-copy.ipynb
recon_inference-multisession-simple-copy.py
recon_inference-multisession-simple.ipynb
recon_inference-multisession-simple.py
recon_inference-multisession.py
recon_inference-ses-03.ipynb
recon_inference.py
recon_inference_orig.ipynb
recon_inference_orig.py
run_final_evals.slurm
run_recon_final.slurm
run_recon_final_batch.slurm
run_recon_multi.slurm
slurms/
wandb/
wandb_test.ipynb
wandb_test.py
.run_all_batch.slurm.swp

artifacts/
*.sbatch